---
---

@import "{{ site.theme }}";

#header_wrap .inner {
  padding: 20px 10px 10px 10px;
}

#authors {
  margin: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
}