---
---

@import "{{ site.theme }}";

.inner {
  position: relative;
  max-width: 720px;
  padding: 20px 10px;
  margin: 0 auto;
}

#header_wrap .inner {
  padding: 20px 10px 10px 10px;
}

#authors {
  margin: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
}

#downloads {
  position: absolute;
  width: 300px;
  z-index: 10;
  bottom: -40px;
  right: 0;
  height: 70px;
  background: url('../images/icon_download.png') no-repeat 0% 90%;
}

.phase_one {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download4.png) no-repeat bottom right;
}

.scripts_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download4.png) no-repeat bottom center;
}

.tar_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download4.png) no-repeat bottom left;
  margin-left: 10px;
}

.phase_one:hover {
  background: url(../images/sprite_download4.png) no-repeat top right;
}

.scripts_link:hover {
  background: url(../images/sprite_download4.png) no-repeat top center;
}

.tar_download_link:hover {
  background: url(../images/sprite_download4.png) no-repeat top left;
}

img {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  padding: 5px;
  margin: 10px 0 10px 0;
  border: 1px solid #ebebeb;

  box-shadow: 0 0 5px #ebebeb;
  -webkit-box-shadow: 0 0 5px #ebebeb;
  -moz-box-shadow: 0 0 5px #ebebeb;
  -o-box-shadow: 0 0 5px #ebebeb;
  -ms-box-shadow: 0 0 5px #ebebeb;
}
