<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/png" href="{{ "/favicon.ico"  | absolute_url }}">

    <!-- twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Urban-PLUMBER project information" />
    <meta name="twitter:description" content="A multi-site evaluation project for urban meterological models. Join us." />
    <meta name="twitter:image" content="https://urban-plumber.github.io/img/twitter_complex.png" />

{% seo %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">

          <h1 id="project_title"><a href="https://urban-plumber.github.io/" style="color: #e0e0e0"
            >{{ site.title | default: site.github.repository_name }}</a></h1>
          <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>

            <section id="downloads">
              <a class="phase_two" href="https://urban-plumber.github.io/sites">Phase 2</a>
              <a class="phase_one" href="https://urban-plumber.github.io/AU-Preston/plots/modelattrs/">Phase 1</a>
              <a class="protocol" href="https://urban-plumber.github.io/static/Urban-PLUMBER_protocol_v1.pdf">Download project protocol</a>
            </section>

            <h5 id="authors"> 
              <a href="https://www.ccrc.unsw.edu.au/ccrc-team/academic-research/mathew-lipson" style="color: #FFFFFF"><u>Mathew Lipson (UNSW)</u></a>, 
              Sue Grimmond (Reading), Martin Best (Met Office),<br />
              with observational and modelling participants.
            </h5>
          
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p>By Mathew Lipson, Sue Grimmond and Martin Best, 

          with observational and modelling co-authors 
            Alberto Martilli, 
            Andreas Christen, 
            Andres Simon, 
            Andrew Coutts, 
            Andy Pitman, 
            Aristofanis Tsiringakis, 
            Aude Lemonsu, 
            Ben Crawford, 
            Beom-Soon Han, 
            Bert Heusinkveld
            Chenghao Wang, 
            Cécile De Munck, 
            David Meyer, 
            Doo-Il Lee, 
            Erik Velasco, 
            Gab Abramowitz, 
            Gabriele Manoli, 
            Gert-Jan Steeneveld, 
            Helen Claire Ward, 
            Hiroaki Kondo, 
            Hirofumi Sugawara, 
            Je-Woo Hong, 
            Jinkyu Hong, 
            Joseph McFadden, 
            Joey McNorton, 
            Jonathan Evans, 
            Jong-Jin Baik, 
            Keith Oleson, 
            Kerry Nice, 
            Keunmin Lee, 
            Krzysztof Fortuniak, 
            Leena Järvi, 
            Maggie Hendry, 
            Marcus Thatcher, 
            Martin De Kauwe, 
            Matthias Demuzere, 
            Matthias Roth, 
            Meiring Beyers, 
            Michael Roth, 
            Mikhail Varentsov, 
            Naika Meili, 
            Nektarios Chrysoulakis, 
            Nigel Tapper, 
            Oliver Michels, 
            Robert Schoetter, 
            Sang-Hyun Lee, 
            Seung-Bu Park, 
            Simone Fatichi, 
            Simone Kotthaus, 
            Souhail Boussetta, 
            Stevan Earl, 
            Sungsoo Jo, 
            Tiago Machado, 
            Ting Sun, 
            Valéry Masson, 
            Winston Chow, 
            Wlodzimierz Pawlak, 
            Yeon-Hee Kim, 
            Yukihiro Kikegawa, 
            Yuya Takane, 
            Zhihua Wang.
        </p>
        <p>If using information from these pages cite: https://doi.org/10.5194/essd-2022-65</p>
        <p>Citation information for observations and models available on respective pages.</p>
        <p>Copyright 2021.</p>
      </footer>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>